*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background: #d3d3d3;
}

h1 {
    text-align: center;
    font-size: 3rem;
}



#myForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}


#myForm, table {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"], th {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover, th:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 17px;
    text-align: left; 

}

tr {
    margin-bottom: 20px;}

th {
    background-color: #4caf50;
    color: white;
    padding-left : 700px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}


.table-container {
    margin-right: 40px;
}

#dois {
    background-color: #165f19;
    margin-left: 50%;
    text-align: center;
    padding-left: 20px;
}

H1 {
    color: #45a049 ;
    text-decoration:wavy;
    text-shadow: #165f19 bottom 3px;
}

button {
    background-color: #165f19;
    color: #ccc;
    padding: 10%;
}